* {padding: 0; margin:0; text-align: center;}

/*html, body {height: 100%;}*/
html {background-color: lightgray;}

.container {
	width: 900px;
	min-height: 100%;
	margin: 50px auto 50px	;

	background-color: lightgray;
	box-shadow: 0 0 100px black;
}

header {
	height: 50px;

	line-height: 50px;
	background-color: gray;
}

.content {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 100%;

	background-color: lightgray;
}

footer {
	height: 50px;
	/*position: absolute;*/
	bottom: 0px;
	width: 900px;

	background-color: gray;
	line-height: 50px;
	clear: both;
}


ul {
	list-style-position: inside;
	font-size: 40px;
	list-style-image: url("swords.png");
}

li {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color:darkblue;
}

li:hover {
    font-size: 50px;
    background-color:dimgrey;
}

/* 410015734454029
https://browsermine.com/auth/10514760876a224a5837b740b74a313bd30bd81
