* {margin: 0; padding: 0}

html, body {
    height: 100%;
}

/*-----------КОНТЕЙНЕР-----------*/
.container {
    position: relative;
    width: 55%;
    min-width: 700px;
    min-height: 100%;
    margin: 0 auto;
    background-color: gray;
    padding-bottom: 150px;
    line-height: 50px;
}

/*-----------ШАПКА-----------*/
header {
    text-align: center;
    padding: 50px;
    background-color: lightslategray;
    font: bold 35px fantasy;
    
}

/*-----------КВАДРАТЫ-----------*/
.sqr {
    display: inline-block;
    min-width: 500px;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-top: 10%;
    
    background-color: aliceblue;
    border-radius: 55px;
}

p {
    text-align: center;
    font: bold 50px fantasy;
    padding-top: 45px;
}

ul {
    margin-left: 50px;
    margin-top: 70px;
    list-style-image: url(swords1.png);
    list-style-position: inside;
}

li {
    font: 35px sans-serif;
}



/*-----------ПОДВАЛ-----------*/
footer {
    background-color: lightslategray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    
    text-align: center;
    
}