p {
    font-family: monospace ;
    font: 1.2em "Fira Sans", sans-serif;
}

strong {
    font: small-caps bold 24px/1 sans-serif;
}

.accordion-body > p {
    font: 1.2em "Fira Sans", sans-serif;
}

.accordion-button {
    font-weight: bold;
    font-size: 20pt;
}

h1, h2, h3, h4 {
    font-family: monospace ;
}